USE [master]
GO
/****** Object:  Database [db_examhall]    Script Date: 2020-04-10 2:12:50 PM ******/
CREATE DATABASE [db_examhall]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_examhall', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\db_examhall.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'db_examhall_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\db_examhall_log.ldf' , SIZE = 26816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_examhall].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_examhall]
GO
/****** Object:  Table [dbo].[tbl_adddept]    Script Date: 2020-04-10 2:12:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_adddept](
	[hod_id] [int] IDENTITY(1,1) NOT NULL,
	[hod_name] [varchar](50) NOT NULL,
	[hod_contact] [nvarchar](50) NOT NULL,
	[hod_email] [nvarchar](50) NOT NULL,
	[hod_gender] [varchar](50) NOT NULL,
	[dept_id] [int] NOT NULL,
	[hod_username] [nvarchar](50) NOT NULL,
	[hod_password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_adddept] PRIMARY KEY CLUSTERED 
(
	[hod_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_arrangements]    Script Date: 2020-04-10 2:12:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_arrangements](
	[arrangement_id] [int] IDENTITY(1,1) NOT NULL,
	[exam_regno] [nvarchar](50) NULL,
	[room_desk_pos] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_arrangements] PRIMARY KEY CLUSTERED 
(
	[arrangement_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_dept]    Script Date: 2020-04-10 2:12:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_dept](
	[dept_id] [int] IDENTITY(1,1) NOT NULL,
	[dept_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_dept_1] PRIMARY KEY CLUSTERED 
(
	[dept_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_examers]    Script Date: 2020-04-10 2:12:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_examers](
	[exam_regno] [nvarchar](50) NULL,
	[exam_stuname] [nvarchar](50) NULL,
	[exam_department] [nvarchar](50) NULL,
	[exam_sem] [nvarchar](50) NULL,
	[exam_type] [nvarchar](50) NULL,
	[exam_sub1] [nvarchar](50) NULL,
	[exam_sub2] [nvarchar](50) NULL,
	[exam_sub3] [nvarchar](50) NULL,
	[exam_sub4] [nvarchar](50) NULL,
	[exam_sub5] [nvarchar](50) NULL,
	[exam_sub6] [nvarchar](50) NULL,
	[exam_sub7] [nvarchar](50) NULL,
	[exam_sub8] [nvarchar](50) NULL,
	[exam_sub9] [nvarchar](50) NULL,
	[exam_sub10] [nvarchar](50) NULL,
	[exam_seatstatus] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_newstudent]    Script Date: 2020-04-10 2:12:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_newstudent](
	[student_id] [int] IDENTITY(1,1) NOT NULL,
	[s_name] [nvarchar](10) NOT NULL,
	[s_gender] [nvarchar](10) NOT NULL,
	[s_email] [nvarchar](50) NOT NULL,
	[s_contact] [nvarchar](50) NOT NULL,
	[s_semester] [nvarchar](50) NOT NULL,
	[s_dob] [nvarchar](50) NOT NULL,
	[s_reg] [nvarchar](50) NOT NULL,
	[dept_id] [int] NOT NULL,
	[dept_status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_newstudent] PRIMARY KEY CLUSTERED 
(
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_rivision]    Script Date: 2020-04-10 2:12:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_rivision](
	[re_id] [int] IDENTITY(1,1) NOT NULL,
	[re_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_rivision] PRIMARY KEY CLUSTERED 
(
	[re_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_room]    Script Date: 2020-04-10 2:12:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_room](
	[room_id] [int] IDENTITY(1,1) NOT NULL,
	[room_no] [nvarchar](50) NOT NULL,
	[room_desk_no] [nvarchar](50) NOT NULL,
	[room_desk_lside] [int] NOT NULL,
	[room_desk_rside] [int] NULL,
	[room_desk_fillstatus] [int] NULL,
	[dept_id] [int] NULL,
 CONSTRAINT [PK_tbl_desk] PRIMARY KEY CLUSTERED 
(
	[room_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_rooms1]    Script Date: 2020-04-10 2:12:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_rooms1](
	[room_id] [int] IDENTITY(1,1) NOT NULL,
	[room_no] [nvarchar](50) NULL,
	[room_desk_pos] [int] NULL,
	[dept_id] [int] NULL,
	[room_desk_fillstatus] [int] NOT NULL,
 CONSTRAINT [PK_tbl_rooms1] PRIMARY KEY CLUSTERED 
(
	[room_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_timetable]    Script Date: 2020-04-10 2:12:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_timetable](
	[dept_id] [int] NOT NULL,
	[timetable_sem] [nvarchar](50) NOT NULL,
	[timetable_extype] [nvarchar](50) NOT NULL,
	[timetable_scode] [int] NOT NULL,
	[timetable_time] [nvarchar](50) NOT NULL,
	[timetable_date] [date] NOT NULL,
	[re_id] [int] NOT NULL,
	[timetable_id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_tbl_timetable] PRIMARY KEY CLUSTERED 
(
	[timetable_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tbl_adddept] ON 

INSERT [dbo].[tbl_adddept] ([hod_id], [hod_name], [hod_contact], [hod_email], [hod_gender], [dept_id], [hod_username], [hod_password]) VALUES (21, N'MAYA BEN', N'987645678', N'mayaben999@gmail.com', N'Female', 15, N'maya', N'1234567')
INSERT [dbo].[tbl_adddept] ([hod_id], [hod_name], [hod_contact], [hod_email], [hod_gender], [dept_id], [hod_username], [hod_password]) VALUES (22, N'BASIL', N'9845673456', N'basil567@gmail', N'Male', 14, N'basil', N'000')
INSERT [dbo].[tbl_adddept] ([hod_id], [hod_name], [hod_contact], [hod_email], [hod_gender], [dept_id], [hod_username], [hod_password]) VALUES (24, N'MAYA BEN', N'9845673456', N'mayaben999@gmail.com', N'Female', 13, N'mm', N'1234567h')
SET IDENTITY_INSERT [dbo].[tbl_adddept] OFF
SET IDENTITY_INSERT [dbo].[tbl_arrangements] ON 

INSERT [dbo].[tbl_arrangements] ([arrangement_id], [exam_regno], [room_desk_pos]) VALUES (11592, N'12011610', N'1')
INSERT [dbo].[tbl_arrangements] ([arrangement_id], [exam_regno], [room_desk_pos]) VALUES (11593, N'12021715', N'3')
INSERT [dbo].[tbl_arrangements] ([arrangement_id], [exam_regno], [room_desk_pos]) VALUES (11594, N'12022006', N'5')
GO
SET IDENTITY_INSERT [dbo].[tbl_arrangements] OFF
SET IDENTITY_INSERT [dbo].[tbl_dept] ON 

INSERT [dbo].[tbl_dept] ([dept_id], [dept_name]) VALUES (12, N'Civil')
INSERT [dbo].[tbl_dept] ([dept_id], [dept_name]) VALUES (13, N'Mechanic')
INSERT [dbo].[tbl_dept] ([dept_id], [dept_name]) VALUES (14, N'Electronics')
SET IDENTITY_INSERT [dbo].[tbl_dept] OFF
SET IDENTITY_INSERT [dbo].[tbl_newstudent] ON 

INSERT [dbo].[tbl_newstudent] ([student_id], [s_name], [s_gender], [s_email], [s_contact], [s_semester], [s_dob], [s_reg], [dept_id], [dept_status]) VALUES (5, N'Devika', N'Female', N'devika@gmail.com', N'8', N'Semester 6', N'', N'', 15, N'1')
INSERT [dbo].[tbl_newstudent] ([student_id], [s_name], [s_gender], [s_email], [s_contact], [s_semester], [s_dob], [s_reg], [dept_id], [dept_status]) VALUES (7, N'Devika', N'Female', N'devika@gmail.com', N'861655646', N'Semester 6', N'2020-02-14', N'17130856', 15, N'1')
INSERT [dbo].[tbl_newstudent] ([student_id], [s_name], [s_gender], [s_email], [s_contact], [s_semester], [s_dob], [s_reg], [dept_id], [dept_status]) VALUES (8, N'venu', N'Male', N'venu@gmail.com', N'98678564', N'Semester 4', N'2020-02-11', N'1756865', 15, N'1')
SET IDENTITY_INSERT [dbo].[tbl_newstudent] OFF
SET IDENTITY_INSERT [dbo].[tbl_rivision] ON 

INSERT [dbo].[tbl_rivision] ([re_id], [re_name]) VALUES (1, N'2015')
SET IDENTITY_INSERT [dbo].[tbl_rivision] OFF
SET IDENTITY_INSERT [dbo].[tbl_room] ON 

INSERT [dbo].[tbl_room] ([room_id], [room_no], [room_desk_no], [room_desk_lside], [room_desk_rside], [room_desk_fillstatus], [dept_id]) VALUES (9, N'101', N'D1', 0, 0, 0, 12)
INSERT [dbo].[tbl_room] ([room_id], [room_no], [room_desk_no], [room_desk_lside], [room_desk_rside], [room_desk_fillstatus], [dept_id]) VALUES (10, N'101', N'D2', 0, 0, 0, 12)
INSERT [dbo].[tbl_room] ([room_id], [room_no], [room_desk_no], [room_desk_lside], [room_desk_rside], [room_desk_fillstatus], [dept_id]) VALUES (11, N'101', N'D3', 0, 0, 0, 12)
SET IDENTITY_INSERT [dbo].[tbl_room] OFF
SET IDENTITY_INSERT [dbo].[tbl_rooms1] ON 

INSERT [dbo].[tbl_rooms1] ([room_id], [room_no], [room_desk_pos], [dept_id], [room_desk_fillstatus]) VALUES (2047, N'101', 1, 12, 0)
INSERT [dbo].[tbl_rooms1] ([room_id], [room_no], [room_desk_pos], [dept_id], [room_desk_fillstatus]) VALUES (2048, N'101', 2, 12, 0)
INSERT [dbo].[tbl_rooms1] ([room_id], [room_no], [room_desk_pos], [dept_id], [room_desk_fillstatus]) VALUES (2049, N'101', 3, 12, 0)
GO
SET IDENTITY_INSERT [dbo].[tbl_rooms1] OFF
SET IDENTITY_INSERT [dbo].[tbl_timetable] ON 

INSERT [dbo].[tbl_timetable] ([dept_id], [timetable_sem], [timetable_extype], [timetable_scode], [timetable_time], [timetable_date], [re_id], [timetable_id]) VALUES (12, N'1', N'R', 3021, N'Forenoon', CAST(N'2020-03-04' AS Date), 1, 9)
SET IDENTITY_INSERT [dbo].[tbl_timetable] OFF
USE [master]
GO
